<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hi.weiliao.base.mapper.GlobalConfigMapper">

    <select id="getAllConfig" resultType="map">
        select CONFIG_KEY, CONFIG_VALUE
        from GLOBAL_CONFIG
    </select>

    <select id="getByKey" resultType="String">
        select CONFIG_VALUE
        from GLOBAL_CONFIG
        where CONFIG_KEY = #{configKey}
    </select>

    <update id="update" parameterType="map">
        update GLOBAL_CONFIG
        set CONFIG_KEY = #{configKey}
        where CONFIG_VALUE = #{configValue}
    </update>

</mapper>