<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hi.weiliao.user.mapper.UserManageMapper">

    <select id="query" resultType="map">
        select
            UA.ID,
            UA.PHONE,
            UA.PW_TRY_TIMES,
            UA.WX_OPENID,
            UA.QQ_OPENID,
            UA.SESSION,
            UA.CREATE_TIME,
            UI.NAME,
            UI.HEAD_ICON,
            UI.BACKGROUND,
            UI.PERSONAL_SIGN,
            UI.SEX,
            UI.BIRTHDAY,
            UI.PROVINCE,
            UI.CITY,
            UI.COIN,
            UI.REVISE_TIME
        from USER_AUTH UA
        left join USER_INFO UI
        ON UA.ID = UI.USER_ID
        where 1 = 1
        <if test="phone != null and phone != ''">
            AND UA.phone like CONCAT('%', #{phone}, '%')
        </if>
        <if test="name != null and name != ''">
            AND UI.name like CONCAT('%', #{name}, '%')
        </if>
        <if test="source != null and source != ''">
            AND UA.source = #{source}
        </if>
    </select>

    <delete id="deleteAuthByPhone" parameterType="map">
        DELETE from USER_AUTH
        where id = #{userId}
    </delete>

    <delete id="deleteInfoByPhone" parameterType="map">
        DELETE from USER_INFO
        where user_id = #{userId}
    </delete>

</mapper>