<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hi.weiliao.user.mapper.UserInfoMapper">

    <resultMap id="UserInfo" type="com.hi.weiliao.user.bean.UserInfo">
        <id column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="HEAD_ICON" property="headIcon" jdbcType="VARCHAR"/>
        <result column="BACKGROUND" property="background" jdbcType="INTEGER"/>
        <result column="PERSONAL_SIGN" property="personalSign" jdbcType="VARCHAR"/>
        <result column="SEX" property="sex" jdbcType="VARCHAR"/>
        <result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR"/>
        <result column="PROVINCE" property="province" jdbcType="VARCHAR"/>
        <result column="CITY" property="city" jdbcType="VARCHAR"/>
        <result column="COIN" property="coin" jdbcType="DECIMAL"/>
    </resultMap>

    <insert id="insert" parameterType="com.hi.weiliao.user.bean.UserInfo">
        insert into USER_INFO (USER_ID, NAME, HEAD_ICON, BACKGROUND, PERSONAL_SIGN, SEX, BIRTHDAY, PROVINCE, CITY)
        values (#{userId}, #{name}, #{headIcon}, #{background}, #{personalSign}, #{sex}, #{birthday}, #{province}, #{city})
    </insert>

    <update id="update" parameterType="com.hi.weiliao.user.bean.UserInfo">
        update USER_INFO
        set
        <if test="name != null">
            NAME = #{name},
        </if>
        <if test="headIcon != null">
            HEAD_ICON = #{headIcon},
        </if>
        <if test="background != null">
            BACKGROUND = #{background},
        </if>
        <if test="personalSign != null">
            PERSONAL_SIGN = #{personalSign},
        </if>
        <if test="sex != null">
            SEX = #{sex},
        </if>
        <if test="birthday != null">
            BIRTHDAY = #{birthday},
        </if>
        <if test="province != null">
            PROVINCE = #{province},
        </if>
        <if test="city != null">
            CITY = #{city},
        </if>
        revise_time = NOW()
        where USER_ID = #{userId}
    </update>

    <update id="addCoin" parameterType="map">
        update USER_INFO
        set
        <if test="addCoin != null">
            coin = coin + #{addCoin},
        </if>
        revise_time = NOW()
        where USER_ID = #{userId}
    </update>

    <select id="queryById" resultMap="UserInfo">
        select
            USER_ID,
            NAME,
            HEAD_ICON,
            BACKGROUND,
            PERSONAL_SIGN,
            SEX,
            BIRTHDAY,
            PROVINCE,
            CITY,
            COIN
        from USER_INFO
        where USER_ID = #{userId}
    </select>

</mapper>