<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hi.weiliao.user.mapper.UserFollowMapper">

    <insert id="insert" parameterType="map">
        insert into `USER_FOLLOW` (`USER_ID`, `FOLLOW_ID`)
        values (#{userId}, #{followId})
        ON DUPLICATE key update USER_ID = #{userId}
    </insert>

    <delete id="delete" parameterType="map">
        DELETE FROM USER_FOLLOW
        WHERE USER_ID = #{userId} and FOLLOW_ID = #{followId}
    </delete>

    <select id="getByUserId" resultType="int" parameterType="map">
        select FOLLOW_ID
        from USER_FOLLOW
        where USER_ID = #{userId}
    </select>

    <select id="getByFollowId" resultType="int" parameterType="map">
        select USER_ID
        from USER_FOLLOW
        where FOLLOW_ID = #{followId}
    </select>

    <select id="countFollow" resultType="map" parameterType="map">
        select a.follow, b.fans from
        (select
            count(*) as follow
        from USER_FOLLOW
        where USER_ID = #{userId}) a,
        (select
            count(*) as fans
        from USER_FOLLOW
        where FOLLOW_ID = #{userId}) b
    </select>

    <select id="queryFollow" resultType="com.hi.weiliao.user.bean.UserInfo" parameterType="map">
        select
            USER_ID,
            NAME,
            HEAD_ICON,
            BACKGROUND,
            PERSONAL_SIGN,
            SEX,
            BIRTHDAY,
            ADDRESS
        from USER_FOLLOW uf
            LEFT JOIN USER_INFO ui
            on uf.FOLLOW_ID = ui.USER_ID
        where uf.USER_ID = #{followId}
    </select>

    <select id="queryFans" resultType="com.hi.weiliao.user.bean.UserInfo" parameterType="map">
        select
            USER_ID,
            NAME,
            HEAD_ICON,
            BACKGROUND,
            PERSONAL_SIGN,
            SEX,
            BIRTHDAY,
            ADDRESS
        from USER_FOLLOW uf
            LEFT JOIN USER_INFO ui
                on uf.USER_ID = ui.USER_ID
        where uf.FOLLOW_ID = #{followId}
    </select>

</mapper>